<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{{description}}}" />
    <meta name="image" property="og:image" content="https://icriedhere.com/images/icriedhere_preview.png">
    <meta name="og:description" content="{{{description}}}" />
    <meta name="og:image" content="https://icriedhere.com/images/icriedhere_preview.png" />
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/style.css" />

    {{#if stylesheets}}
      {{#each stylesheets}}
        <link rel="stylesheet" href="/{{this}}" />
      {{/each}}
    {{/if}}

    {{#if scripts}}
      {{#each scripts}}
        <script async src="/{{this}}"></script>
      {{/each}}
    {{/if}}

    <link rel="icon" href="/favicon.ico" />
    <script data-goatcounter="https://icriedhere.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> footer }}
  </body>
</html>